<div class="panel panel-default">
    
    <div class="panel-heading">
        <h1>メッセージ一覧</h1>
    </div>

    <div class="panel-body">
        <% @messages.each do |message| %>
          <span class="label label-info"><%= message.name %></span>
          <pre><%= message.body %></pre>
          <br>
        <% end %>
    </div>
</div>

<%= render 'form' %>